*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 transition: background-image 1s ease-in-out;
}

.wrapper{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: black;

}

.additions{
    width: 85%;
    height: 13rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    align-items: flex-start;
    
}
#time{
    font-size: 8rem;
    margin-bottom: 2rem;
    text-shadow:  0 0 1em white;
}
#full-date{
    font-size: 2rem;
    opacity: 0.8;
    margin-bottom: 1rem;
    text-shadow:  0 0 1em white;
}

h1{
    margin-bottom: 3rem;
    text-shadow:  0 0 1em white;
}

h2{
    margin-bottom: 0.5rem;
    opacity: 0.8;
    text-shadow:  1em 0 1em white;
}
.focus{
    padding: 2rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.2);
}
#focus{
    font-style: italic;
}
.bg-reload-wrapper{
    margin-top: 1rem;
}
.bg-reload{
    padding: 2.3rem;
    background-image: url(images/reload.png);
    background-color: white;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.5rem;
    border: none;
    border-radius: 50%;  
    outline: none;
}

.quote-wrapper{
    display: flex;
    flex-direction: column;
    width: 23rem;
    align-items: center;

}
.quote{
    padding-top: 1rem;
    text-shadow:  0 0 1em white;
    font-size: 1.2em;
    max-width: 25rem;
    text-shadow:  1em 0 1em white;
}
.btn-quote{
    width: 4rem;
    height: 4rem;
    background-image: url(images/lamp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.5rem;
    background-color: white;
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: relative;
    box-shadow:  0 0 1em white;
}
.btn-quote:hover,
.bg-reload:hover{
    opacity: 0.9;
}
.city_input {
    background-color: transparent;
    width: 11rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid grey;
    text-align: center;
  }
.city_input::placeholder {
    color:black;
    opacity: 0.8;
}
.wrapper-weather{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 1.2em;
    text-shadow: 0em 0em 1em white;
    border: 2px solid grey;
    background: #bfa5a57a;

} 
.city-text{
    border: 1px solid grey;;
    
}
.name_input{
    background-color: transparent;
    width: 14rem;
    padding: 0 2vh;
    font-size: 1.7rem;
    border-radius: 1vh;
    outline: none;
    text-align: center;
}
.name_input::placeholder {
    color:black;
    opacity: 0.8;
    border-color: #bfa5a57a;
}
.hidden {
    display: none;
}
@media(max-width: 700px){
    #time{
        font-size: 6rem;
    }
}
